textarea {width: 350px;height: 200px;}
label { margin-right: 15px;}
#comments, #ideas { list-style-type: none;margin: 0px;padding: 0px; margin-left:-10px;}
#comments li {margin-left: 0px; margin-bottom: 25px;}

/* Override some defaults */
html, body {
background-color: #eee;
}
body {
padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

/* The white background content wrapper */
.content {
background-color: #fff;
padding: 20px;
margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
margin-top:15px;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
background-color: #f5f5f5;
padding: 20px 20px 10px;
margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
margin-left: 0;
padding-left: 19px;
border-left: 1px solid #eee;
}

.topbar .btn {
border: 0;
}

.sidebox 
{

    width: 85px;
    text-align: center;
   
}
.sidebox .voteinfo {  background: #F3F3F3;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 5px;
    border-radius: 6px;margin: 10px;margin-bottom: 5px;}
.voteinfo h3 { line-height: 1em;}
.sidebox form button { width: 65px;height: 25px;}
.ideaheader { padding-top: 16px;line-height: 1em;}
.ideadate { font-size: 0.8em;text-transform: uppercase;}
.ideadesc {  color: black;}
.hoverheader:hover{ color : #660000;}
.author { font-weight:bolder;}
.gravatar {margin-left:25px;}
.gravatar img {width:40px; height:40px;}
.gravatarsmall img {width:15px; height:15px;}
.activity { margin-right:75px;}
.loggedin { color: White; }
.loggedin img {width:15px; height:15px;}
#fileupload .span11 {
    margin-left:5px;
}